In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('../Data/SQLout_employees.csv')
data.head()

,year,nace,key_l,key_e,location,esize_class,collective,gender,age_class,lpk,...,vacation,gross_salary,bonuses,total,gross_salary_oct,bonuses_oct,bonuses_add_oct,total_oct,hourly_rate,weight
0,2014,I,7294,44259,LT,1_49,D,F,30-39,513,...,13.0,2382.41,0.00,2382.41,248.49,0.0,0.0,248.49,2.09,39.47
1,2014,I,7294,44260,LT,1_49,D,F,50-59,512,...,13.0,2343.61,0.00,2343.61,242.70,0.0,0.0,242.70,2.13,38.62
2,2014,I,7294,44261,LT,1_49,D,F,20-29,512,...,13.0,2363.59,0.00,2363.59,240.09,0.0,0.0,240.09,2.09,39.14
3,2014,I,7294,44262,LT,1_49,D,F,30-39,941,...,13.0,1279.35,0.00,1279.35,239.71,0.0,0.0,239.71,1.82,38.99
4,2014,K,7448,45986,LT,1_49,N,F,40-49,121,...,22.0,16841.60,666.13,17507.73,1332.25,0.0,0.0,1332.25,7.24,15.14

In [6]:
data.dtypes

year                  int64
nace                 object
key_l                 int64
key_e                 int64
location             object
esize_class          object
collective           object
gender               object
age_class            object
lpk                   int64
education            object
experience            int64
arrangement          object
work_part           float64
contract             object
weeks               float64
hours                 int64
overtime              int64
vacation            float64
gross_salary        float64
bonuses             float64
total               float64
gross_salary_oct    float64
bonuses_oct         float64
bonuses_add_oct     float64
total_oct           float64
hourly_rate         float64
weight              float64
dtype: object